* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fafbfc;
  color: #00b300;
  font: 400 1em/1.5em "Raleway", sans-serif;
  margin: 0;
}

a {
  color: #ce606f;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 2.5em;
  margin: 0 0 .2em;
}

h2,
.h2 {
  font-size: 1.5em;
  margin: 0 0 .33em;
}

.htex{
  color: #4d4d4d
}

h3,
.h3 {
  font-size: 1.25em;
  margin: 0 0 .5em;
}

p {
  margin: .5em 0;
}

svg {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.subline {
  color: #fff;
  font-weight: normal;
}

.container {
  left: 50%;
  max-width: 740px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}



.map {
  margin-top: 3em;
  position: relative;
}
.map-markers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.map-marker {
  position: absolute;
}
.map-marker:after {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: pop;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
  content: '';
  height: 2em;
  left: 0;
  margin: -.5em 0 0 -.5em;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 2em;
}
.map-marker:hover .map-marker-info {
  display: block;
}
.map-marker a {
  border-radius: 50%;
  height: 1em;
  display: block;
  text-indent: -9999px;
  width: 1em;
}
.aa a {
    background-color: #ff0000;
}
.ba a {
  background-color: #ff0000;
}
.ca a {
  background-color: #00cc44;
}
.da a {
  background-color: #00BFFF;
}
.ea a {
  background-color: #00cc44;
}
.fa a {
  background-color: #00cc44;
}
.map-marker-chicago {
  left: 65%;
  top: 35%;
}
.map-marker-florida {
  left: 85%;
  top: 86%;
}
.map-marker-florida:after {
  animation-delay: 3s;
}
.map-marker-los-angeles {
  left: 7%;
  top: 60%;
}
.map-marker-los-angeles:after {
  animation-delay: 5s;
}
.map-marker-new-york {
  left: 91%;
  top: 31%;
}
.map-marker-san-francisco {
  left: 1%;
  top: 46%;
}
.map-marker-san-francisco:after {
  animation-delay: 3s;
}
.map-marker-seattle {
  left: 8%;
  top: 1%;
}
.map-marker-seattle:after {
  animation-delay: 5s;
}
.map-marker-info {
  display: none;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -2em);
  width: 20em;
  z-index: 999;
}
.map-marker-info header {
  border-radius: .5em .5em 0 0;
  color: #fff;
  padding: .5em 1em;
}
.ab header {
    background-color: #ff0000;
}
.bb header {
  background-color: #ff0000;
}
.cb header {
  background-color: #00cc44;
}
.db header {
  background-color: #00BFFF;
}
.eb header {
  background-color: #00cc44;
}
.fb header {
  background-color: #00cc44;
}
.map-marker-info main {
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  color: #7e7e7e;
  padding: .5em 1em;
}
.map-marker-info h2 {
  margin-bottom: 0;
}
.map-marker-info-inner {
  border-radius: .5em;
  box-shadow: #000;
  font-size: 1em;
}
.map-marker-info-inner:after {
  border-left: .75em solid transparent;
  border-right: .75em solid transparent;
  border-top: 1em solid #fff;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce-in {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.animate-bounce-in {
  animation-duration: .75s;
  animation-name: bounce-in;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  8% {
    opacity: .4;
  }
  10% {
    opacity: 0;
    transform: scale(1);
  }
}
.animate-pop {
  animation-duration: 1s;
  animation-name: pop;
}
